.about-us {
    display: flex;
    align-items: center;
}

.about-us__header {
    margin-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
}

@media(max-width: 799px) {
    .about-us__header {
        font-size: 18px;
    }
}

.about-us__paragraph {
    line-height: 1.8;
    font-size: 16px;
}

.about-us__image {
    width: 30%;
    margin-left: 30px;
}


@media(max-width: 799px) {
    .about-us__image {
        display: none;
    }
}