.calc-container__description-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.calc-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.calc-container__decription {
    width: 30%;
}

.calc-container__buttons {
    margin-top: 40px;
}

.calc-container__buttons-item {
    width: 20%;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    background-color:rgb(104,55,20);
    color: white; 
    border: 2px black solid;
}

.calc-container__buttons-item:focus {
    outline: none;
}
.calc-container__buttons-item:hover {
    background-color:  rgba(104,55,20,0.5);
}

.calc-container__buttons-item--clicked {
    background-color: rgb(71,137,75) !important; 
}

.calc-container__end {
    display: flex;
    margin-top: 30px;
}

.calc-container__end-submit {
    width: 50%;
}

.calc-container__end-output {
    margin-top: 30px;
    display: none;
}

.calc-container__output {
    font-size: 35px;
    font-weight:500;
}

.alert{
    margin-top: 15px;
}
