.calc-container__description-header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.calc-container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

@media(max-width: 799px) {
    .calc-container {
        flex-wrap: wrap;
        gap: 20px;
    }
    .calc-container__description-header {
        font-size: 24px;
        margin-top: 0px;
    }
    .small-header {
        font-size: 18px;
    }
    .amount {
        width: 85%;
        margin-bottom: 10px;
    }
}

.calc-container__description {
    width: 30%;
}

@media(max-width: 799px) {
    .calc-container__description {
        width: 100%;
    }
}

.calc-container__buttons {
    margin-top: 40px;
}

.calc-container__buttons-item {
    width: 20%;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
    background-color:rgb(104,55,20);
    color: white; 
    border: 2px black solid;
}

@media(max-width: 799px) {
    .calc-container__buttons-item {
        width: 45%;
    }
}

.calc-container__buttons-item:focus {
    outline: none;
}
.calc-container__buttons-item:hover {
    background-color:  rgba(104,55,20,0.5);
}

.calc-container__buttons-item--clicked {
    background-color: rgb(71,137,75) !important; 
}

.calc-container__end {
    display: flex;
    margin-top: 30px;
}

.calc-container__end-submit {
    width: 50%;
}

.calc-container__end-output {
    margin-top: 30px;
    display: none;
}

.calc-container__output {
    font-size: 35px;
    font-weight:500;
}

@media(max-width: 799px) {
    .calc-container__end-submit {
        width: 70%;
    }
    .calc-container__output {
        font-size: 20px;
    }
}

.alert{
    margin-top: 15px;
}


