.main-banner__canvas--contact {
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-right: -30px;
}

@media(max-width: 799px) {
    .main-banner__canvas--contact {
        flex-wrap: wrap;
    }
}

.contact-header {
    margin-bottom: 30px;
}

@media(max-width: 799px) {
    .contact-header {
        text-align: center;
    }
}

.address {
    margin-right: 30px;
}

.contact-form {
    margin-left: 30px;
}

@media(max-width:799px) {
    .contact-form {
        margin-left: 0;
        margin-top: 20px;
    }
}

.contact-form__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 50px;
}

@media(max-width:799px) {
    .contact-form__info {
        flex-wrap: wrap;
    }
}

.contact-form__info-item {
    display: flex;
    align-items: center;
    margin: 0 30px;
}

@media(max-width:799px) {
    .contact-form__info-item {
        margin-bottom: 10px;
    }
}

.contact-form__info-icon {
    width: 25px;
    margin-right: 10px;
}
.contact-form__info-link {
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.contact-form__fields {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;
}


.contact-form__field {
    width: calc(50% - 16px);
    margin: 8px;
}

.contact-form__submit-button {

    margin-top: 15px;
}

.area {
    width: 100%;
}