.main-banner__canvas-news {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
}

@media(max-width: 1024px) {
    .main-banner__canvas-news {
        flex-wrap: wrap;
        padding-top: 10px;
    }
}

.canvas-news__item {
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
}

@media(max-width: 1024px) {
    .canvas-news__item {
        width: 100%;
    }
}

.canvas-news__item-img {
    width: 60%;
    padding: 50px;
}

@media(max-width: 1024px) {
    .canvas-news__item-img {
        display: none;
    }
}

.canvas-header {
    margin-left: 20%;
    text-transform: uppercase;
}

@media(max-width: 799px) {
    .canvas-header {
        margin-top: 0px;
        margin-left: 0px;
        font-size: 24px;
        text-align: center;
    }
}
.canvas-image {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.quote-all {
    margin-left: 50%;
}

@media(max-width: 799px) {
    .quote-all {
        display: none;
    }
}

.quote {
    font-size: 15px;
    font-style: italic;
}
.author {
    font-size: 10px;
    margin-bottom: 50px;
}

.description {
    font-size: 18px;
}

@media(max-width: 799px) {
    .description {
        font-size: 15px;
    }
}

.news-section {
    display: flex;
    flex-direction:column;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 0px 20px;
}

.news-section__header {
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 50px;
}

.date {
    font-size: 15px;
    display: inline;
    font-style:italic;
}

.news-section__article {
    margin-bottom: 40px;
}

.news-section__article-header {
    font-size: 25px;
    display: inline;
    margin-right:50px;
}

.news-section__article-image {
    width: 40%;
    float: right;
    margin: 10px;
}

.news-section__article-image--left {
    width: 25%;
    float: left;
    margin: 10px;
}

.news-section__article-content {
    margin-top: 35px;
    line-height: 1.8;
}

.news-section__article-break {
    margin: 60px auto 30px auto;
    width: 80px;
}

.news-section__article-break-icon {
    display: inline-block;
    opacity: 0.5;
    width: 20px;
}
